$clr-primary: hsl(225, 100%, 94%);
$clr-cart-item: hsla(225, 100%, 94%, 0.25);
$clr-accent: hsl(245, 75%, 52%);

$clr-neutral-100: hsl(223, 47%, 23%);
$clr-neutral-200: hsl(224, 23%, 55%);
$clr-neutral-300: hsl(225, 100%, 98%);

$fw-regular: 500;
$fw-bold: 700;
$fw-black: 900;

$fs-1: 0.5rem;
$fs-2: 0.875rem;
$fs-3: 1rem;
$fs-4: 1.25rem;
$fs-5: 1.5rem;
$fs-6: 1.75rem;

$default-font-family: 'Red Hat Display', ui-sans-serif, system-ui, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
